.homeWrapper {
  @include pageBg;
  @include reset;
  margin-right: 0;
  padding-right: 0;
}

.profileWrapper {
  @include flexCentar;
}

.profileCard {
  box-shadow: 0.2rem 0.2rem 0.2rem #772a20;
  width: 35rem;
}

.cardInfo {
  @include flexCentar;
  @include mainPadding;
  color: $primaryDark;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.cardInfoLink {
  @extend .cardInfo;
  @include baseTransition;
  &:hover {
    color: $secondaryDark;
    transform: scale(1.1);
  }
}

.cardInfoHeading {
  @include flexCentar;
  color: $primaryDark;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0 white;
}

.cardAvatar {
  width: 100%;
  height: 25rem;
}

@media only screen and (max-width: 1400px) {
  .cardAvatar {
    height: 18rem;
  }
  .profileCard {
    width: 30rem;
  }
}
